<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Digitalendar</title>
    {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
</head>
<body>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="{{ path('homepage') }}" class="navbar-brand d-flex align-items-center">
                <strong>Digitalendar</strong>
            </a>
            <nav class="my-2 my-md-0">
                <a class="p-2 text-white" href="{{ path('event_index') }}">Les événements</a>
                <a class="p-2 text-white" href="{{ path('event_new') }}">Proposer un événement</a>
                <a class="p-2 text-white" href="account.html">Mon compte</a>
                {% if app.user %}
                    <a class="p-2 text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="p-2 text-white" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </nav>

            </nav>
        </div>
    </div>
</header>

<main role="main">

    {% block body %}
    {% endblock %}


</main>

<footer class="text-muted">
    <div class="container col-md-10">
        <p class="float-right">
            <a href="#">Haut de page</a>
        </p>
        <p>&copy; Digitalendar 2019</p>
    </div>
</footer>


{% block javascripts %}{{ encore_entry_script_tags('app') }} {% endblock %}

</body>
</html>
